.cabecalho{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: blue;
    color: aliceblue;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    background-color: blueviolet;
    color: aliceblue;
}

.central{
    flex-grow: 1;
}


.container .l-e{
    flex-grow: 1;
    background-color:rgb(92, 134, 212);
}

.container .l-d{
    flex-grow: 1;
    background-color: rgb(83, 20, 228);
}
